*{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}


#formtemperatura{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 30px;
    
}

h2{
    text-align: center;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name{
    display: flow-root;
    align-items: flex-end;
}